/* Variables */
body {
  margin: 0;
  font-family: "Nunito Sans";
}

#dashboard-background {
  background-color: #c8d8e2;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
}

/* Styles for navbar */
#navbar {
  background-color: white;
  position: sticky;
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #c8d8e2;
  box-shadow: 0 1px 10px #999;
}
#navbar div {
  padding: 10px;
  position: inherit;
  left: 90%;
  height: 40px;
  width: 65px;
}
#navbar div img {
  height: 100%;
  width: 65%;
  float: left;
  border-radius: 5px;
}
#navbar div button {
  float: right;
  background: none;
  border: none;
  color: #c8d8e2;
}
#navbar div #dropdown-content {
  margin: 35px 10px 0 -50px;
  display: none;
  text-align: center;
  width: 80px;
  height: fit-content;
  background-color: white;
  z-index: 1;
  border: 1px solid #c8d8e2;
  border-radius: 3px;
  box-shadow: 0 5px 10px #999;
}
#navbar div #dropdown-content a {
  text-decoration: none;
  color: black;
}
#navbar div :hover #dropdown-content {
  display: block;
}
#navbar #hamburger {
  display: none;
  background: none;
  border: none;
  margin-left: 20px;
  background-color: white;
}

/* Styles for sidebar */
#sidenav {
  background-color: white;
  width: 200px;
  display: block;
  height: calc($dashboard-body-height);
  z-index: 1;
  top: 0;
  left: 0;
  border: 1px solid #c8d8e2;
  box-shadow: 0 1px 10px #999;
}
#sidenav #logo-container {
  background-color: black;
  position: fixed;
  height: 40px;
  width: 160px;
  padding: 10px 20px;
}
#sidenav #sidenav-links {
  position: fixed;
  top: 60px;
  padding: 20px 0;
  width: 160px;
}
#sidenav #sidenav-links a {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: gray;
}
#sidenav #sidenav-links a i {
  float: right;
}
#sidenav #sidenav-links hr {
  margin-left: 20px;
  width: 160px;
  border: 1px solid #c8d8e2;
}
#sidenav #navbar-logo {
  width: 100%;
  height: 100%;
}

/* Font styling */
.heading-1 {
  font-weight: bolder;
}

.heading-2 {
  font-weight: bolder;
}

.heading-3 {
  font-weight: lighter;
  font-size: 12px;
  color: gray;
}

.heading-4 {
  font-weight: lighter;
  font-size: 10px;
  font-style: italic;
  color: gray;
}

/* Dashboard page styling */
#dashboard-display {
  padding: 20px;
}
#dashboard-display hr {
  border: 1px solid #c8d8e2;
}
#dashboard-display div {
  border: 1px solid #c8d8e2;
  border-radius: 5px;
}
#dashboard-display div div {
  background-color: white;
}
#dashboard-display #progress-information {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 20px 0;
}
#dashboard-display #progress-information .progress-card {
  padding: 20px;
}
#dashboard-display #progress-information .progress-card span {
  display: block;
}
#dashboard-display #progress-information .progress-card .change {
  display: inline;
}
#dashboard-display #progress-information .progress-card .percent-value {
  display: inline;
  float: right;
}
#dashboard-display #recently-referrals {
  min-height: 200px;
  padding: 20px;
  margin: 20px 0;
  background-color: white;
}
#dashboard-display #recently-referrals span {
  display: block;
}
#dashboard-display #recently-referrals table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}
#dashboard-display #recently-referrals table #table-head {
  background-color: #c8d8e2;
  border-top: 1px solid #c8d8e2;
  text-align: left;
  height: 40px;
}
#dashboard-display #recently-referrals table #table-head th {
  padding: 0 10px;
}
#dashboard-display #recently-referrals table #table-body td {
  height: 40px;
  padding: 0 10px;
  border-top: 1px solid #c8d8e2;
}
#dashboard-display #your-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin: 20px 0;
}
#dashboard-display #your-cards div {
  position: relative;
  padding: 20px;
  text-align: center;
}
#dashboard-display #your-cards div span {
  display: block;
}
#dashboard-display #your-cards div i {
  padding: 10px 0;
}
#dashboard-display #your-cards div .amount-value {
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #31ac31;
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
}
#dashboard-display #your-team {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  margin: 20px 0;
}
#dashboard-display #your-team .team-card {
  padding: 20px;
}
#dashboard-display #your-team .team-card span {
  display: block;
}
#dashboard-display #your-team .team-card .circle-block {
  text-align: right;
  padding: 20px 20px 10px 0;
  border: none;
}
#dashboard-display #your-team .team-card .circle-block .circle {
  display: inline-block;
  height: 35px;
  width: 50px;
  border: none;
  border-radius: 25px;
  margin-right: -20px;
  text-align: center;
  padding-top: 15px;
}
#dashboard-display #your-team .team-card .team-monthly-charge {
  border: none;
  text-align: center;
}
#dashboard-display .progress-bar {
  height: 10px;
  margin: 20px 0 5px 0;
}
#dashboard-display .progress-bar .progress-area {
  width: 70%;
  height: 100%;
  background-color: blue;
  border: none;
}

/* Product catalog page styling */
#product-catalog {
  padding: 20px;
  margin: 20px;
  border: 1px solid #c8d8e2;
  border-radius: 5px;
  background-color: white;
}
#product-catalog #product-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin-top: 20px;
}
#product-catalog #product-container .product-card {
  background-color: white;
  padding: 20px;
  border: 1px solid #c8d8e2;
  border-radius: 5px;
}
#product-catalog #product-container .product-card hr {
  border: 1px solid #c8d8e2;
}
#product-catalog #product-container .product-card img {
  height: 300px;
  padding: 0 20px;
}
#product-catalog #product-container .product-card .product-image {
  text-align: center;
  margin-top: -100px;
}
#product-catalog #product-container .product-card .new-design {
  position: relative;
  width: 0;
  height: 0;
  border-top: 60px solid red;
  border-bottom: 60px solid transparent;
  border-right: 60px solid transparent;
}
#product-catalog #product-container .product-card .new-design span {
  position: absolute;
  transform: rotate(-45deg);
  margin: -50px 0 0 5px;
  color: white;
}
#product-catalog #product-container .product-card .product-price {
  float: right;
}
#product-catalog #product-container .product-card .product-mrp {
  float: right;
}
#product-catalog #product-container .product-card .size-container {
  display: inline-block;
  height: 15px;
  width: 20px;
  border-radius: 7.5px;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
}
#product-catalog #product-container .product-card .include-text {
  display: block;
  float: left;
}

/* Styles mobile devices */
@media screen and (max-width: 600px) {
  #dashboard-background {
    display: block;
  }

  #sidenav {
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 2;
  }

  #navbar div {
    left: 70%;
  }
  #navbar #hamburger {
    display: block;
  }

  #dashboard-display #progress-information {
    display: block;
    margin: auto;
  }
  #dashboard-display #progress-information .progress-card {
    margin: 10px 0;
  }
  #dashboard-display #your-cards {
    display: block;
    margin: auto;
  }
  #dashboard-display #your-cards div {
    margin: 10px 0;
  }
  #dashboard-display #your-team {
    display: block;
    margin: auto;
  }
  #dashboard-display #your-team div {
    margin: 10px 0;
  }

  #product-catalog #product-container {
    display: block;
  }
  #product-catalog #product-container .product-card {
    margin: 10px 0;
  }
  #product-catalog #product-container img {
    height: auto;
    width: 200px;
  }
}

/*# sourceMappingURL=dashboardStyle.css.map */
