/* Variables */
$dashboard-background-color: #c8d8e2;
$dashboard-background-width: 100%;
$dashboard-body-height: fit-content;

$navbar-color: white;
$navbar-height: 60px;

$sidenav-width: 200px;
$navbar-logo-color: black;

body {
  margin: 0;
  font-family: "Nunito Sans";
}

#dashboard-background {
  background-color: $dashboard-background-color;
  display: grid;
  grid-template-columns: $sidenav-width calc(100% - 200px);
  width: $dashboard-background-width;
  height: $dashboard-body-height;
  top: 0;
  left: 0;
}

/* Styles for navbar */
#navbar {
  background-color: $navbar-color;
  position: sticky;
  height: $navbar-height;
  width: $dashboard-background-width;
  display: grid;
  grid-template-columns: 40px auto;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid $dashboard-background-color;
  box-shadow: 0 1px 10px #999;

  div {
    padding: 10px;
    position: inherit;
    left: 90%;
    height: 40px;
    width: 65px;

    img {
      height: 100%;
      width: 65%;
      float: left;
      border-radius: 5px;
    }

    button {
      float: right;
      background: none;
      border: none;
      color: $dashboard-background-color;
    }

    #dropdown-content {
      margin: 35px 10px 0 -50px;
      display: none;
      text-align: center;
      width: 80px;
      height: fit-content;
      background-color: $navbar-color;
      z-index: 1;
      border: 1px solid $dashboard-background-color;
      border-radius: 3px;
      box-shadow: 0 5px 10px #999;

      a {
        text-decoration: none;
        color: black;
      }
    }

    :hover {
      #dropdown-content {
        display: block;
      }
    }
  }

  #hamburger {
    display: none;
    background: none;
    border: none;
    margin-left: 20px;
    background-color: $navbar-color;
  }
}

/* Styles for sidebar */
#sidenav {
  background-color: $navbar-color;
  width: $sidenav-width;
  display: block;
  height: calc($dashboard-body-height);
  z-index: 1;
  top: 0;
  left: 0;
  border: 1px solid $dashboard-background-color;
  box-shadow: 0 1px 10px #999;

  $navbar-logo-padding-top-bottom: 10px;
  $navbar-logo-padding-left-right: 20px;
  $navbar-logo-width: $sidenav-width - 2 * $navbar-logo-padding-left-right;
  $navbar-logo-height: $navbar-height - 2 * $navbar-logo-padding-top-bottom;

  #logo-container {
    background-color: $navbar-logo-color;
    position: fixed;
    height: $navbar-logo-height;
    width: $navbar-logo-width;
    padding: $navbar-logo-padding-top-bottom $navbar-logo-padding-left-right;
  }

  #sidenav-links {
    position: fixed;
    top: $navbar-height;
    padding: 20px 0;
    width: 160px;

    a {
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-decoration: none;
      color: gray;

      i {
        float: right;
      }
    }

    hr {
      margin-left: 20px;
      width: 160px;
      border: 1px solid $dashboard-background-color;
    }
  }

  #navbar-logo {
    width: 100%;
    height: 100%;
  }
}

/* Font styling */
.heading-1 {
  font-weight: bolder;
}

.heading-2 {
  font-weight: bolder;
}

.heading-3 {
  font-weight: lighter;
  font-size: 12px;
  color: gray;
}

.heading-4 {
  font-weight: lighter;
  font-size: 10px;
  font-style: italic;
  color: gray;
}

/* Dashboard page styling */
#dashboard-display {
  padding: 20px;

  hr {
    border: 1px solid $dashboard-background-color;
  }

  div {
    border: 1px solid $dashboard-background-color;
    border-radius: 5px;

    div {
      background-color: $navbar-color;
    }
  }

  #progress-information {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin: 20px 0;

    .progress-card {
      padding: 20px;

      span {
        display: block;
      }

      .change {
        display: inline;
      }

      .percent-value {
        display: inline;
        float: right;
      }
    }
  }

  #recently-referrals {
    min-height: 200px;
    padding: 20px;
    margin: 20px 0;
    background-color: $navbar-color;

    span {
      display: block;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0;

      #table-head {
        background-color: $dashboard-background-color;
        border-top: 1px solid $dashboard-background-color;
        text-align: left;
        height: 40px;

        th {
          padding: 0 10px;
        }
      }

      #table-body {
        td {
          height: 40px;
          padding: 0 10px;
          border-top: 1px solid $dashboard-background-color;
        }
      }
    }
  }

  #your-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin: 20px 0;

    div {
      position: relative;
      padding: 20px;
      text-align: center;

      span {
        display: block;
      }

      i {
        padding: 10px 0;
      }

      .amount-value {
        position: absolute;
        top: 10px;
        right: -10px;
        background-color: rgb(49, 172, 49);
        color: white;
        padding: 1px 5px;
        border-radius: 2px;
      }
    }
  }

  #your-team {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin: 20px 0;

    .team-card {
      padding: 20px;

      span {
        display: block;
      }

      .circle-block {
        text-align: right;
        padding: 20px 20px 10px 0;
        border: none;

        .circle {
          display: inline-block;
          height: 35px;
          width: 50px;
          border: none;
          border-radius: 25px;
          margin-right: -20px;
          text-align: center;
          padding-top: 15px;
        }
      }

      .team-monthly-charge {
        border: none;
        text-align: center;
      }
    }
  }

  .progress-bar {
    height: 10px;
    margin: 20px 0 5px 0;

    .progress-area {
      width: 70%;
      height: 100%;
      background-color: blue;
      border: none;
    }
  }
}

/* Product catalog page styling */
#product-catalog {
  padding: 20px;
  margin: 20px;
  border: 1px solid $dashboard-background-color;
  border-radius: 5px;
  background-color: white;

  #product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 20px;

    .product-card {
      background-color: white;
      padding: 20px;
      border: 1px solid $dashboard-background-color;
      border-radius: 5px;

      hr {
        border: 1px solid $dashboard-background-color;
      }

      img {
        height: 300px;
        padding: 0 20px;
      }

      .product-image {
        text-align: center;
        margin-top: -100px;
      }

      .new-design {
        position: relative;
        width: 0;
        height: 0;
        border-top: 60px solid red;
        border-bottom: 60px solid transparent;
        border-right: 60px solid transparent;

        span {
          position: absolute;
          transform: rotate(-45deg);
          margin: -50px 0 0 5px;
          color: white;
        }
      }

      .product-price {
        float: right;
      }

      .product-mrp {
        float: right;
      }

      .size-container {
        display: inline-block;
        height: 15px;
        width: 20px;
        border-radius: 7.5px;
        border: 1px solid black;
        font-size: 12px;
        text-align: center;
      }

      .include-text {
        display: block;
        float: left;
      }
    }
  }
}

/* Styles mobile devices */
@media screen and (max-width: 600px) {
  #dashboard-background {
    display: block;
  }

  #sidenav {
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 2;
  }

  #navbar {
    div {
      left: 70%;
    }

    #hamburger {
      display: block;
    }
  }

  #dashboard-display {
    #progress-information {
      display: block;
      margin: auto;

      .progress-card {
        margin: 10px 0;
      }
    }

    #your-cards {
      display: block;
      margin: auto;

      div {
        margin: 10px 0;
      }
    }

    #your-team {
      display: block;
      margin: auto;

      div {
        margin: 10px 0;
      }
    }
  }

  #product-catalog {
    #product-container {
      display: block;

      .product-card {
        margin: 10px 0;
      }

      img {
        height: auto;
        width: 200px;
      }
    }
  }
}
