/* Universal styles */
body {
  background-image: url("./assets/login-bg.jpg");
  background-size: cover;
}

footer {
  margin: 30px 0 0 0;
  color: white;
  font-size: small;
  text-align: center;
}

/* Styles for ids */
#content-container {
  margin: auto;
  width: 55%;
  font-family: "Nunito Sans";
}

#login-screen-heading {
  color: aliceblue;
  font-size: 100;
  font-weight: bold;
  text-align: center;
}

#login-screen-description {
  color: aliceblue;
  font-size: 20;
  font-weight: bold;
  text-align: center;
}

#login-container {
  margin: auto;
  margin-top: 5%;
  padding: 3%;
  border-radius: 10px;
  background: white;
  width: 50%;
  height: fit-content;
}

#login-text {
  font-weight: bold;
}

#username {
  margin: 10px 0 10px 0;
  padding: 5px 5px 5px 15px;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-sizing: border-box;
}

#password {
  margin: 10px 0 10px 0;
  padding: 5px 5px 5px 15px;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 5px;
  box-sizing: border-box;
}

#horizontal-line {
  margin: 20px 0 10px 0;
  border: 1px solid lightblue;
}

#submit-button {
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: rgb(54, 57, 245);
  color: white;
}

#message {
  color: red;
}

/* Styles mobile devices */
@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-position: right;
  }

  #content-container {
    width: 100%;
  }

  #login-container {
    width: 90%;
  }
}
